.portfolioButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  padding: 0 31px;
  text-transform: uppercase;
  border: 1px solid var(--tetriary-gray);
  border-radius: 30px;
  background-color: var(--primary-white);
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

.isActive {
  background-color: var(--primary-orange);
  color: var(--primary-white);
  border: 1px solid var(--primary-orange);
}

.portfolioButton:hover {
  background-color: var(--tetriary-gray);
}

.isActive:hover {
  background-color: var(--secondary-orange);
}
