.contactInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 40px 55px 40px 0;
  border-right: 1px solid var(--footer-text-secondary-color);
}

.contentContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.callText {
  font-size: 19px;
  font-weight: bold;
  color: var(--primary-white);
}

.callNumber {
  font-size: 17;
  font-weight: bold;
  color: var(--secondary-orange);
}
