:root {
    --primary-orange: rgba(255, 102, 0, 1);
    --secondary-orange: rgba(220, 78, 17, 1);
    --tertiary-orange: rgba(255, 239, 230, 1);
    --button-orange: rgba(255, 102, 0, 1);
    --primary-white: #ffffff;
    --primary-gray: rgba(247, 247, 247, 1);
    --secondary-gray: rgba(80, 80, 80, 1);
    --primary-black: #000;
    --secondary-text: rgba(28, 29, 32, 1);
    --footer-color: rgba(20, 6, 38, 1);
    --footer-secondary-color: rgba(32, 11, 58, 1);
    --footer-tertiary-color: rgba(48, 18, 86, 1);
    --header-color: rgba(22, 29, 57, 1);
    --footer-text-secondary-color: rgba(84, 53, 125, 1);
}
